<div class="flex-wrapper">
  <div class="form-wrapper">
    <form [formGroup]="form" class="oh-login-form" (submit)="onSubmit($event, {name: 'sdf', pass: 'sdf'})">
      <div class="form-header">
        <h1>mw.</h1>
      </div>
      <div class="oh-login-form-content">
        <div><input type="text" placeholder="USERNAME" formControlName="username"/></div>
        <div><input type="text" placeholder="PASSWORD"  formControlName="password"/></div>
        <div class="checkbox-wrap">
          <input type="checkbox" id="keep-me-sign-in">
          <label for="keep-me-sign-in">Keep me signed in</label>
        </div>
      </div>
      <div class="oh-button-container">
        <button>Forgot Password?</button>
        <button class="active">Sign in</button>
      </div>
    </form>
    <a class="oh-register-form">
      <div class="form-header">
        <h1>mw.</h1>
      </div>
      <div class="oh-login-form-content">
        <div><input type="text" placeholder="EMAIL"/></div>
        <div><input type="text" placeholder="USERNAME"/></div>
        <div><input type="text" placeholder="FIRST NAME"/></div>
        <div><input type="text" placeholder="PASSWORD"/></div>
      </div>
      <div class="oh-button-container">
        <button>SIGN UP</button>
        <button class="active">.</button>
      </div>
    </a>
  </div>
</div>

