<div class="mes-container">
  <div class="content">
    <div class="mes-navbar">
      <div class="mes-navbar-left">
        <b>Abu Abdulah Nurhaga</b>
        <i class="icon-online"></i>
      </div>
      <ul>
        <li><img src="/assets/icons/phone.png" alt=""></li>
        <li><img src="/assets/icons/opt.png" alt=""></li>
        <li><img src="/assets/icons/navbar.png" alt=""></li>
      </ul>
    </div>
    <div class="messages">
      <app-message [isUsersMes]="true"></app-message>
      <app-message [isUsersMes]="false"></app-message>
    </div>
  </div>
  <div class="mes-send-mes footer">
    <div class="textarea" contenteditable="true"></div>
    <div class="sendmes">
      <div class="add-file"></div>
      <div class="send-btn"></div>
    </div>
  </div>
</div>
