<div class="mes-container">
  <div class="content">
    <div class="mes-navbar">
      <div class="mes-navbar-left">
        <b>Abu Abdulah Nurhaga</b>
        <i class="icon-online"></i>
      </div>
      <ul>
        <li><img src="/assets/icons/phone.png" alt=""></li>
        <li><img src="/assets/icons/opt.png" alt=""></li>
        <li><img src="/assets/icons/navbar.png" alt=""></li>
      </ul>
    </div>
    <div class="messages">
      sdfsdf
    </div>
  </div>
  <div class="mes-send-mes footer">
    <div class="textarea"  app-textarea></div>
    <div class="sendmes">
      sdf
    </div>
  </div>
</div>
