@import "../../vendor/vars.sass"

nav
  height: 70px
  width: 100%
  background: $main-blue-color
  display: flex
  justify-content: space-between
  align-items: center
  button
    background: none
    border: none
    outline: none
    cursor: pointer
    padding: 0 21px
  .navbar-profile
    display: flex
    padding: 0px 97px
    color: #fff
    align-items: center
    .search
      cursor: pointer
      color: #fff
    .logo
      width: 42px
      height: 42px
      background: #000
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      margin-right: 25px
      margin-left: 22px
    p
      line-height: 1.29
      display: flex
      flex-direction: column
      b
        color: $main-text-color
        font-weight: 300
      span
        color: #2775a9
        svg
          cursor: pointer
          margin-top: 3px
          float: right

